  body {
    font-family: Arial, sans-serif;
    background-color: #7b7dd4f3;
  }

  h1 {
    color: #180862;
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  p {
    color: #6c0707;
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 1.5em;
  }

  a {
    color: #1277dc;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  
  .small10 {
    width: 10%;
    height: 10%;
  }